.text-shadow:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.border-b-shadow {

    border-bottom: 1px solid white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 1000;

}

.radius-card {
    border-radius: 20px;
}

.text-style {
    text-transform: uppercase;
    animation: animate 5s linear infinite;
    color: #0e3742;
}

.text-style-name {
    animation: animate 7s linear infinite;
}

.text-style-skill {
    animation: animate 9s linear infinite;
}

@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: white;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}

.bg-framework {
    background: linear-gradient(#00ccff, #d400d4);
    animation: frame 4s linear infinite;
}

@keyframes frame {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}